<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap&effect=emboss"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Poppins&effect=neon|outline|emboss|shadow-multiple|3d-float">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Solysis</title>
</head>
<body>
    <nav class="nav-main">
        <!-- <div class="icon">
            
            <i class="fa fa-area-chart" aria-hidden="true"></i>
            
        </div> -->
        <h2 class="font-effect-3d-float logo" style="color: black;">Solysis <i class="fa fa-pie-chart" aria-hidden="true"></i></h2>
        <ul class="nav-ul">
            <li class="list1"><a class="pub general" href="publishing.html">Publishing</a></li>
            <li class="list1"><a class="socs general" href="socials.html">Socials</a></li>
            <li class="list1"><a class="engage general" href="engagements.html">Engagements</a></li>
            <li class="list1"><a class="resource general" href="resources.html">Resources</a></li>
        </ul>
        <div>
            <button id="login"><a class="general" href="./login.html">Login</a></button>
            <button id="signup"><a  class="general" href="./signup.html">Get Started</a></button>
        </div>
    </nav>
    <main>
        <div>

        </div>
    </main>
</body>
</html>