<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Poppins&effect=neon|outline|emboss|shadow-multiple|3d-float">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="./scripts/home.js"></script>
    <title>Solysis</title>
</head>
<body>
    <nav class="nav-main">
        <!-- <div class="icon">
            
            <i class="fa fa-area-chart" aria-hidden="true"></i>
            
        </div> -->
        <h2 class="font-effect-3d-float logo" style="color: black;">Solysis <i class="fa fa-pie-chart" aria-hidden="true"></i></h2>
        <ul class="nav-ul">
            <li class="list1"><a class="pub general" href="publishing.html">Publishing</a></li>
            <li class="list1"><a class="socs general" href="socials.html">Socials</a></li>
            <li class="list1"><a class="engage general" href="engagements.html">Engagements</a></li>
            <li class="list1"><a class="resource general" href="resources.html">Resources</a></li>
        </ul>
        <div class="register">
            <button class="login"><a class="general" href="./login.html">Login</a></button>
            <button class="signup"><a  class="general" href="./signup.html">Get Started now</a></button>
        </div>
        <div class="bar"><i class="fa fa-align-left"  aria-hidden="true"></i></div>
    </nav>
    <main>
        <div class="container1">
            <div class="c1-child1">
                <p class="audience">Expand your audience <br class="noshow">with our powerful <br class="noshow">management solutions
                </p>
                <p class="potential">
                    Our all-in-one social media management platform,<br> Solysis, unlocks the full potential of social media,<br> transforming your marketing strategy in every aspect of your<br> organization, while helping you build an audience organically. 
                </p>
                <input type="email" placeholder="enter your email" id="new-email">
                <button class="signup page-signup"><a class="general" href="./signup.html">Get Started now</a></button>
            </div>
            <div class="c1-child2">
                <img class="img1" src="./images/Cyfe-social-media-dashboard.jpg">
            </div>
        </div>
        
        <div class="container2">
            <div class="moving-div followers">
                <p><span class="head1">Grow your followers</span></p>
                <p>Increasing your followers count is crucial for expanding your brand's reach and visibility. By growing your followers, you're effectively widening your audience base, which can lead to increased brand awareness and exposure. More followers mean more people are exposed to your products or services, thereby enhancing the likelihood of attracting potential customers.</p>
            </div>
            <div class="moving-div engage">
                <p><span class="head1">Increase your engagements</span></p>
                <p>
                    Engagements on social media platforms, such as likes, comments, shares, and interactions, are essential indicators of audience interest and interaction with your brand. Increased engagements not only signify active interest in your content but also provide valuable insights into your audience's preferences and behaviors.
                </p>
                </div>
            <div class="moving-div traffic">
                <p><span class="head1">Analyze your performance</span></p>
                <p>
                    Evaluating and analyzing your social media performance is a pivotal step towards optimizing your marketing strategies and maximizing sales and profits. By carefully examining key metrics such as engagement rates, follower growth, content reach, and conversion rates, you gain valuable insights into what's working well and where improvements can be made.
                </p>
                </div>
        </div>
    </main>
    <div class="container1 container3">
        <div class="c1-child1">
            <p class="audience">Publish your post</p>
            <p class="potential">
                Effortlessly plan, create, collaborate, manage and<br> deliver your social media content and campaigns. 
            </p>
            <!-- <input type="email" placeholder="enter your email" id="new-email">
            <button class="signup"><a class="general" href="./signup.html">Get Started now</a></button> -->
        </div>
        <div class="c1-child2">
            <img class="img2" src="./images/socials-1.webp">
        </div>
    </div>
    <div class="container1 container4">
        <div class="c1-child2">
            <img class="img2" src="./images/engagement1.png">
        </div>
        <div class="c1-child1">
            <p class="audience">Increase your Engagements</p>
            <p class="potential">
                Understanding and responding to your audience's interactions, you can tailor your marketing strategies more effectively, resulting in higher conversion rates and increased sales.
            </p>
            <!-- <input type="email" placeholder="enter your email" id="new-email">
            <button class="signup"><a class="general" href="./signup.html">Get Started now</a></button> -->
        </div>
    </div>
    <div class="container5">
    
        <img  class="img5" src="./images/engagement2.png">
        <img class="img6" src="./images/Social-Media-Icons-1024x675.jpg">
        <img class="img5" src="./images/images.jpeg">
    </div>
    <div class="container1 container6">
        <div class="c1-child1">
            <p class="audience">Analyze your performance</p>
            <p class="potential">
                A data-driven approach to analyzing your social media performance empowers you to make informed decisions that lead to increased sales, improved profitability, and sustainable business growth.
            </p>
            <!-- <input type="email" placeholder="enter your email" id="new-email">
            <button class="signup"><a class="general" href="./signup.html">Get Started now</a></button> -->
        </div>
        <div class="c1-child2">
            <img class="img2" src="./images/Social-media-overview-dashboard-followers.png">
        </div>
    </div>
    <footer>
        <div class="container7"></div>
    </footer>
</body>
</html>