<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>solysis</title>
</head>
<body>
    <nav class="nav-main">
        <h1 class="logo">Solysis</h1>
        <ul>
            <li><a href="#">Publishing</a></li>
            <li><a href="#">Socials</a></li>
            <li><a href="#">Engagements</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
        <div>
            <button><a id="login" href="login.html">Login</a></button>
            <button><a id="signup" href="signup.html">Sign Up</a></button>
        </div>
    </nav>
</body>
</html>